/Data/gnn
/Data/GRM
/Data/combined_200k_70k_sparrow_genotype_data
/Data/GRM.rel.bin
/Data/qc_overall_/
/Data/qc_trait_subset/
*.npz
*.bed
*.bim
*.fam
*.het
*.nosex
*.irem
*.frq
.RData
.Rhistory
/Data/*.log
*.pyc
/logs/.RData

#ignore all that start with utility_cache, not just in root but also in subdirectories
#**/utility_cache*
#**/tmc_perm_state_target*
outputs/delta_ld_rank_weight/delta_ld_ranked_selected_individuals.csv
