/Data/gnn
/Data/GRM
/Data/combined_200k_70k_sparrow_genotype_data
*.npz
*.bed
*.bim
*.fam
*.het
*.nosex
*.irem
*.frq
.RData
/Data/*.log
*.pyc
/logs/.RData

#ignore all that start with utility_cache, not just in root but also in subdirectories
#**/utility_cache*
#**/tmc_perm_state_target*